body{ background: #fff; }
	
	/* Header */
	button.open-main{ margin: 1px 18px 0 8px; }
	header.inbox h1, header.inbox h2{ float: left; font-size: 18px; line-height: 23px; }
	header.inbox h1{ position: relative; margin-right: 21px; }
	header.inbox h1:after{ content: ''; position: absolute; top: 8px; right: -12px; width: 2px; height: 8px; background: #e0e0e0; }
	.mailbox-actions{ margin-right: 16px; }
	.mailbox-actions button{ margin: 0 0 0 34px; }
	.mailbox-actions button.off{ opacity: .3; }
	button.compose{ width: 20px; height: 21px; background-image: url(img/btn-compose-t.png); }
	button.compose:hover{ background-image: url(img/btn-compose-t-on.png); }
	button.address-book{ width: 18px; height: 18px; background-image: url(img/btn-address-book-t.png); }
	button.address-book:hover{ background-image: url(img/btn-address-book-t-on.png); }
	.mailbox-actions button.search{ width: 18px; height: 19px; background-image: url(img/btn-search-t.png); }
	.mailbox-actions button.search:hover{ background-image: url(img/btn-search-t-on.png); }
	button.refresh{ display: inline-block; width: 15px; height: 17px; background: url(img/btn-refresh-t.png); }
	button.refresh:hover{ background-image: url(img/btn-refresh-t-on.png); }
	button.delete{ width: 18px; height: 17px; background-image: url(img/btn-delete-t.png); }
	button.delete:hover{ background-image: url(img/btn-delete-t-on.png); }
	
	/* Sidebar */
	.main button.close-main > span > span{ display: inline; }
	.sidebar-header{ height: 79px; border-bottom: 1px solid #e6e7e8; margin-bottom: 24px; background: url(img/weno-sidebar.png) no-repeat center; background-size: 138px 28px; }
	.main h2{ margin-bottom: 17px; }
	.secure-messages{ padding-bottom: 39px; margin-bottom: 24px; }
	.secure-messages > ul > li, .weno-savers > ul > li{ margin-bottom: 5px; }
	.main a, .main button{ height: 40px; line-height: 40px; }
	.main .invite > a{ border-bottom-color: #d4d4d4; }
	
	/* Messages */
	.messages{ border-top-color: #f3f3f4; }
	li.message{ border-bottom-color: #f3f3f4; }
	.message-details > a > ul{ padding: 12px 100px 17px 22px; }
	.message-details .name{ font-size: 23px; line-height: 28px; }
	.messages .subject, .message-details .time{ font-size: 16px; line-height: 19px; }
	.message-details .time{ top: 20px; right: 22px; }
	
	.show-main:before{ width: 0; height: 0; background: none; z-index: -1; }
	
	/* Header */
	.mail{ margin: 0 17px 0 219px; }
	#mail-header{ position: relative; top: 13px; float: left; }
	.mail.affix-header{ padding-top: 0; }
	.affix-header #mail-header{ width: 100%; height: 80px; }
	header.inbox{ padding: 29px 0 28px; }
	.affix-header > header{ padding: 16px 0 13px; }
	button.open-main{ display: none; }
	.affix-header > header > .headlines{ margin-left: 219px; }
	.mailbox-actions{ margin-right: 15px; }
	.affix-header .mailbox-actions{ margin-right: 32px; }
	.mailbox-actions button{ margin-left: 6px 0 0 29px; }
	button.compose{ width: 17px; height: 18px; background-image: url(img/btn-compose-d.png); }
	button.compose:hover{ background-image: url(img/btn-compose-d-on.png); }
	button.address-book{ width: 16px; height: 16px; background-image: url(img/btn-address-book-d.png); }
	button.address-book:hover{ background-image: url(img/btn-address-book-d-on.png); }
	.mailbox-actions button.search{ width: 16px; height: 16px; background-image: url(img/btn-search-d.png); }
	.mailbox-actions button.search:hover{ background-image: url(img/btn-search-d-on.png); }
	button.refresh{ width: 14px; height: 15px; background-image: url(img/btn-refresh-d.png); }
	button.refresh:hover{ background-image: url(img/btn-refresh-d-on.png); }
	button.delete{ width: 15px; height: 15px; background-image: url(img/btn-delete-d.png); }
	button.delete:hover{ background-image: url(img/btn-delete-d-on.png); }
	
	/* Sidebar */
	.main{ width: 191px; border-right-color: #c8c8c8; font-size: 13px; -ms-transform: none; -webkit-transform: none; transform: none; }
	.main:after{ content: ''; position: absolute; top: 0; right: -7px; width: 6px; height: 100%; background: #e6e7e8; }
	.main button.close-main{ display: none; }
	.sidebar-header{ height: 80px; margin-bottom: 19px; }
	.main h2{ margin: 12px 0 14px 25px; font-size: 13px; line-height: 23px; }
	.secure-messages{ padding-bottom: 31px; margin-bottom: 20px; }
	.secure-messages > ul > li, .weno-savers > ul > li{ margin-bottom: 4px; }
	.main a, .main button{ height: 32px; line-height: 32px; background-position: 26px; }
	.main a > span:first-child, .main button > span:first-child{ margin-left: 55px; }
	.main a.inbox{ background-image: url(img/btn-main-inbox-d.png); background-size: 15px 13px; }
	.main a.inbox:hover, .main a.inbox.active{ background-image: url(img/btn-main-inbox-d-on.png); }
	.main a.deleted{ background-image: url(img/btn-main-deleted-d.png); background-size: 14px 14px; }
	.main a.deleted:hover, .main a.deleted.active{ background-image: url(img/btn-main-deleted-d-on.png); }
	.main a.sent{ background-image: url(img/btn-main-sent-d.png); background-size: 16px 11px; }
	.main a.sent:hover, .main a.sent.active{ background-image: url(img/btn-main-sent-d-on.png); }
	.main button.search{ background-image: url(img/btn-main-search-d.png); background-size: 14px 14px; }
	.main button.search:hover, .main button.search.active{ background-image: url(img/btn-main-search-d-on.png); }
	.main a.posted{ display: block; background-image: url(img/btn-main-posted-d.png); background-size: 14px 14px; }
	.main a.posted:hover, .main a.posted.active{ background-image: url(img/btn-main-posted-d-on.png); }
	.main a.saved{ background-image: url(img/btn-main-saved-d.png); background-size: 14px 13px; }
	.main a.saved:hover, .main a.saved.active{ background-image: url(img/btn-main-saved-d-on.png); }
	.main a.expired{ display: block; background-image: url(img/btn-main-expired-d.png); background-size: 13px 13px; }
	.main a.expired:hover, .main a.expired.active{ background-image: url(img/btn-main-expired-d-on.png); }
	.main a > span.number, .main button > span.number{ margin-right: 22px; }
	.main .invite{ bottom: 60px; }
	.main .invite > a{ font-size: 12px; }
	.main .options > button{ height: 60px; line-height: 18px; background-image: url(img/btn-main-options-d.png); background-position: 156px; background-size: 19px 18px; }
	.main .options > button > span{ margin-left: 19px; }
	
	/* Header Alert */
	.alert{ display: block; }
	.affix-header .alert{ visibility: hidden; }
	
	/* Messages */
	.message-details > a > ul{ padding: 10px 100px 8px 10px; }
	.message-details > a > ul > li{ float: left; }
	.message-details .name, .messages .subject, .message-details .time{ font-weight: 400; font-size: 14px; line-height: 17px; }
	.message-details .name{ width: 32.00468933177%; }
	.message-details .new .name{ color: rgb(5,207,243); }
	.message-details .subject{ width: 67.99531066823%; }
	.message-details .time{ top: 12px; right: 7px; }